body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.container {
    padding: 20px;
}

button {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}